@import '../../assets/styles/variables';

#the-table {
  width: $tableWidth;
  background: $tableColor2;
  padding: 25px 0;
  border-radius: 1rem;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 1.5rem auto;
  pointer-events: all;
  box-shadow: $boxShadow;

  .winner-info {
    position: absolute;
    top: 0; right: 0; left: 0;
    pointer-events: none;

    span {
      width: 29px;
      height: 29px;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      margin-left: .5rem;
    }
  }

  .the-table-inner {
    position: relative;
    max-width: 481px;

    .no-more-bets-overlay {
      position: absolute;
      top: 0;
      left: 38px;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: $color2;
      font-weight: 700;
      z-index: 1;
      font-size: 2rem;
      text-shadow: 1px 1px 5px #000;

      &.disabled {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  .outside-numbers {
    width: 452px;
    position: relative;
    left: 33px;
    border: 1px solid $color1a;
    margin: 2px 0;
    display: flex;
    justify-content: space-evenly;
  }

  #sound-toggle {
    position: absolute;
    top: 0; right: 0;
    width: 30px;
    height: 30px;
    cursor: pointer;
    padding: .5rem;
  }
}