@import '../../../assets/styles/variables';

.street {
  .form {
    position: relative;
    margin: 1px;

    label {
      width: 13px;
      height: 13px;
      display: block;
      border-radius: 50%;
      cursor: pointer;
      border: 1px solid $color1a;
      background: transparent;
    
      &:hover {
        background: $color2a;
      }
    }

    input {
      position: absolute !important;
      opacity: 0;
      visibility: hidden;
    }

    .number-name {
      width: 13px;
      height: 13px;
    }
  }
}