@import '../../assets/styles/variables';

#last-numbers {
  width: 115px;
  margin-left: 1rem;

  ul {
    list-style: none;
    margin-top: .5rem;
    margin: 1rem auto 0;
    border: 1px solid $color1a;
    border-radius: .5rem;
  
    li {
      width: 100%;
      font-weight: 700;
      display: flex;
      
      &:first-of-type {
        border-top-right-radius: .5rem;
        border-top-left-radius: .5rem;
      }

      &:last-of-type {
        border-bottom-right-radius: .5rem;
        border-bottom-left-radius: .5rem;
      }

      &:nth-child(odd) {
        background: lighten($tableColor2, 3);
      }

      &:nth-child(even) {
        background: lighten($tableColor1, 4);
      }

      span {
        width: 25px;
        height: 25px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 3px;
      }
    }
  }
}

