@import '../../assets/styles/variables';

.selected-numbers {
  list-style: none;
  width: 100%;
  max-width: $tableWidth;
  margin: auto;
  text-align: center;

  &.inside-bet {
    li {
      width: 29px;
      height: 29px;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
    }
  }

  &.outside-bet {
    li {
      display: inline-block;
      padding: .5rem;
      width: 100%;
      max-width: 199px;
      text-transform: capitalize;
      border-radius: .25rem;
      box-shadow: $boxShadow;
    }
  }

  li {
    margin: 6px;
    font-weight: 700;
    text-align: center;
  }
}