@import '../../../assets/styles/variables';

/* All Numbers */
.columns {
  display: flex;

  .form {
    margin: 1px;
    border: 1px solid $color1a;
    display: flex;
    justify-content: center;
    align-items: center;

    label {
      cursor: pointer;
      width: 34px;
      height: 34px;
      display: flex;
      justify-content: center;
      align-items: center;

      &:hover, &.active {
        background: $color2a;
      }
    }

    input {
      position: absolute !important;
      opacity: 0;
      visibility: hidden;
    }

    .number-name {
      width: 23px;
      height: 23px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      font-weight: 700;
    }
  }

  &.number-zero {
    .form {
      border: none !important;
      margin: 2px;
      position: relative;

      &:before,
      &:after {
        content: '';
        position: absolute;
        background: $color1a;
        width: 1px;
        height: 206%;
        left: 13px;
      }

      &:before {
        top: -45px;
        transform: rotate(40deg);
      }

      &:after {
        bottom: -45px;
        transform: rotate(-40deg);
      }

      label {
        border-radius: 50%;
      }
    }
  }
}

