@import '../../../assets/styles/variables';

/* All Numbers */
.columns {
  display: flex;

  .form {
    position: relative;
    margin: 1px;
    border: 1px solid $color1a;
    display: flex;
    justify-content: center;
    align-items: center;

    label {
      cursor: pointer;
      width: 34px;
      height: 34px;
      display: flex;
      justify-content: center;
      align-items: center;

      &:hover {
        background: $color2a;
      }
    }

    input {
      position: absolute !important;
      opacity: 0;
      visibility: hidden;
    }

    .number-name {
      width: 23px;
      height: 23px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      font-weight: 700;

      @media(max-width: 992px) {
        width: 14px;
        height: 14px;
      }
    }
  }

  &.number-zero {
    .form {
      border: none !important;
      margin: 2px;
      position: relative;

      &:before,
      &:after {
        content: '';
        position: absolute;
        background: $color1a;
        width: 1px;
        height: 211%;
        left: 13px;

        @media(max-width: 992px) {
          left: 11px;
          height: 216%;
        }
      }

      &:before {
        top: -45px;
        transform: rotate(40deg);

        @media(max-width: 992px) {
          top: -34px;
        }
      }

      &:after {
        bottom: -45px;
        transform: rotate(-40deg);

        @media(max-width: 992px) {
          bottom: -34px;
        }
      }
    }
  }
}

