@import '../../../assets/styles/variables';


.other-bets {

  &.one-2-one {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  
  &.dozen {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }

  &.race-track {
    flex: 0 0 25%;
    max-width: 25%;
  }

  &:last-of-type {
    .form {
      label {
        border: none;
      }
    }
  }

  .form {
    position: relative;
    margin: 0;
    padding: 0;
    text-align: center;
    display: inline-flex;
    align-items: center;
    width: 100%;
    height: 100%;

    &:hover {
      background: $color2a;
    }

    label {
      cursor: pointer;
      width: 100%;
      padding: 5px;
      border-right: 1px solid $color1a;
      color: $color1;
      font-weight: 700;
    }

    label[for="red"] span {
      color: $color4;
    }
    label[for="black"] span {
      color: $color5;
    }

    input {
      position: absolute !important;
      opacity: 0;
      visibility: hidden;
    }
  }
}