@import '../../assets/styles/variables';

#game-info {
  .info {
    padding: 1rem;
    width: 100%;
    max-width: 350px;
    background: $tableColor2;
    pointer-events: all;
  }

  .winner-info {
    span {
      width: 29px;
      height: 29px;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      margin-left: .5rem;
    }
  }
}

#last-numbers {
  list-style: none;
  margin-top: .5rem;

  li {
    width: 29px;
    height: 29px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: 3px;
    font-weight: 700;
  }
}