@import '../../assets/styles/variables';

#game-info {
  width: 100%;
  height: 100%;
  max-width: 1920px;
  margin: auto;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  pointer-events: none;

  .info {
    padding: 1rem;
    width: 100%;
    max-width: 350px;
    background: $tableColor2;
    pointer-events: all;
  }

  .title {
    font-size: 1.1rem;
    small {
      display: block;
      margin: .5rem 0 0;
    }

    span {
      color: $color2;
    }
  }

  .winner-info {
    span {
      width: 29px;
      height: 29px;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      margin-left: .5rem;
    }
  }
}

#last-numbers {
  list-style: none;
  margin-top: .5rem;

  li {
    width: 29px;
    height: 29px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: 3px;
    font-weight: 700;
  }
}