@import '../../../assets/styles/variables';

.line-bets {

  &.horizontalSplit, &.verticalSplit {
    width: 34px;
    height: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px;
  }
  
  .form {

    label {
      width: 13px;
      height: 13px;
      display: block;
      border-radius: 50%;
      border: 1px solid $color1a;
    
      &:hover {
        border: 1px solid $color1;
      }
    }
  }
}