@import '../../../assets/styles/variables';

.line-bets {

  &.horizontalSplit, &.verticalSplit {
    width: 34px;
    height: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px;
  }
  
  .form {
    margin: 1px;
    pointer-events: all;

    label {
      width: 13px;
      height: 13px;
      display: block;
      border-radius: 50%;
      cursor: pointer;
      border: 1px solid $color1a;
      background: transparent;
    
      &:hover {
        background: $color2a;
        border: 1px solid $color1;
      }
    }

    input {
      position: absolute !important;
      opacity: 0;
      visibility: hidden;
    }
  }
}