@import './assets/styles/helpers.scss';
@import './assets/styles/variables.scss';

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: $tableColor1;
  color: $color1;
}

#roulette-game {
  width: 100%;
  max-width: 1920px;
  margin: auto;
  font-family: $font1;
  position: relative;
}

img {
  max-width: 100%;
}

.game-availability {
  margin-top: 5rem;
}