@import './assets/styles/helpers.scss';
@import './assets/styles/variables.scss';

* {
  margin: 0;
  padding: 0;
}

#roulette-game {
  width: 100%;
  max-width: 992px;
  margin: auto;
  font-family: $font1;
}

img {
  max-width: 100%;
}